.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      %span= " became law on "
      %strong>= format_date(object.date)
      - unless bill.blank?
        %span= " when the "
        %span>= object_show_link(bill.object_title, bill.object_uri)
        %span>= " received Royal Assent"
      %span= "."