<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> became law on
      <strong><%= format_date(object.date) %></strong>,
      when the <%= object_show_link(object.bill_name, '/') %> received Royal Assent.
    </div>
  </div>
</div>

