<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      <%= search_link(object.category) %> - <%= object_display_name_link(object.object_name) %> published on
      <strong><%= format_date(object.published_date) %></strong>.
    </div>
  </div>
</div>

