<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> deposited
      on <strong><%= format_date(object.date_received) %></strong>
      <% unless object.regarding_link.blank? %>
        , regarding <%= link_to(object.regarding_title, object_show_url(object: object.regarding_link[:value])) %>
      <% end %>
      .
    </div>
  </div>
</div>

