<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= link_to(object.object_name, search_path(filter: object.type)) %> published by the <%= ses_object_link(object.corporate_author) %>
      received by Parliament on
      <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>.
    </div>
  </div>
</div>

