.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.department.blank?
        %span= " published by the "
        %span= search_link(object.department)
      %span= " was received by Parliament on "
      %strong= format_date(object.date)
      %span>="."