<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> presented in the <%= render 'search/fragments/list', items: object.legislature, terminator: '', singular: false %> on
      <strong><%= format_date(object.date) %></strong>
      <% unless object.members.blank? %>
        by <%= render 'search/fragments/list', items: object.members, terminator: '.', singular: false %>
      <% end %>
    </div>
  </div>
</div>