<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> reported in the
      <%= search_link(object.legislature) %> on
      <strong><%= format_date(object.date) %></strong>
      by <%= search_link(object.corporate_author) %>.
    </div>
  </div>
</div>