<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %>
      <% if object.creator %>
        by <%= search_link(object.creator) %>
      <% end %>
      published on <strong><%= format_date(object.published_on) %></strong>.
      <% if object.updated_on %>
        It was updated on <strong><%= format_date(object.updated_on) %></strong>.
      <% end %>
    </div>
  </div>
</div>

