.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      = render 'search/fragments/list', items: object.object_name, terminator: "", singular: true
      %span= " laid in the "
      %span>= render 'search/fragments/list', items: object.legislature, terminator: ",", singular: false
      %span= " on "
      %strong>= format_date(object.date_laid)
      - unless object.member_name.blank?
        %span= " by "
        %span>= search_link(object.member_name)
      - unless object.department.blank?
        &nbspon behalf of the&nbsp
        %span>= search_link(object.department)
      \.
      - unless object.date_approved.blank?
        It was approved by the House of Commons on&nbsp
        %strong>= format_date(object.date_approved)
        \.
      - unless object.date_made.blank?
        It was made on&nbsp
        %strong>= format_date(object.date_made)
        \.
      - if object.date_withdrawn.blank?
        - if object.is_withdrawn && object.is_withdrawn[:value]
          It was subsequently withdrawn.
      - else
        It was withdrawn on&nbsp
        %strong>= format_date(object.date_withdrawn)
        \.