<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> deposited in Parliament
      by <%= search_link(object.depositing_agent) %> as the agent, for
      <%= search_link(object.depositing_applicant) %> as the applicant,
      on <strong><%= format_date(object.date_of_origin) %></strong>.
    </div>
  </div>
</div>

