/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

/.idea/

# Ignore rspec coverage artefacts
/coverage/.last_run.json
/coverage/.resultset.json
/coverage/index.html
/coverage
.env
.env.*
*.gem
.DS_Store
