<div class="reading-width">

<p>When you use Parliamentary Search, you are searching for records in an index. The records have a summary page you can view. In most cases, you can click through from the summary page to the original digital material.</p>
    
    <p>Records are of several types. Some may have web links, others may not. This reflects the information available at the time of indexing.
</p>

    <p>As information systems have changed, approaches to storing information relating to parliamentary material have also changed. Different records have different levels of detail. The way sets of records have been indexed has also changed. The records you see in Search are created manually. The index is managed manually. Indexed references refers to records created as citations - without the full text.
</p>

<p>We want to enable you to find the information useful to you in a straightforward way. Improving Parliamentary Search is part of that work - work that we will continue. <strong>Your feedback and comments as a user of Search enable us to plan future work.</strong></p>

<p>
Over time, some web locations have changed: for example, links to Hansard material from the 2005-06 session. You can use the Hansard website to find the full text using the date and column references displayed in Parliamentary Search. </p>

<p>We want to enable you to find the information useful to you in a straightforward way. Improving Parliamentary Search is part of that work - work that we will continue. <strong>Your feedback and comments as a user of Search enable us to plan future work.</strong></p>


<h2>Early day motions</h2>

<p>Records for early day motions are available from November 1989. Early day motions and their amendments are combined into a single record.</p>

<h2>Legislation </h2>

<h3>Acts and bills </h3>

<p>
Records for acts are available from 1801 and subject indexed from 1987. Records for bills are available from 1987. Records do not include the full text of acts or of bills.</p>


<h3>Delegated legislation </h3>

<p>
Records for statutory instruments are available from May 1992. 
Records do not include the full text of statutory instruments. </p>

<p>Data for the affirmative and negative resolution procedures is available from the 1992-93 session. Data for the other resolution procedures is available from the 2012-13 session.</p>

<h2>Member contributions: Hansard and grand committees</h2>

<p>Indexed references to contributions made during private notice questions and business statements are available from the 1987-88 session.</p>

<p>Indexed references to contributions in all Commons and Lords proceedings are available from the 1992-3 session.</p>

<p>From the 1987-88 session to the 2005-06 session, up to eight contributions were incorporated into a single record for House of Commons material. For a Member exceeding eight contributions in a debate, there may be two or more records relating to their contributions in that debate. For House of Lords material, a single record was created for multiple contributions. </p>

<p>Links to contributions in Commons Hansard are available from December 2000.</p>

<p>Links to contributions in Lords Hansard are available from May 2005.</p>

<p>Records with full text are available form the 2005-06 session.</p>


<h2>Parliamentary committees</h2>

<p>
Records may include links, but do not include the full text of reports of proceedings.</p>

<p>Records of committees are available from 1992.</p>

<p>Records for witnesses submitting written evidence are not available after 15th October 2012. Records for witnesses providing oral evidence to select committees are available.
</p>

<p>Records of Lords select committee oral evidence are available from the 2014-15 session.</p>

<h2>Parliamentary papers</h2> 

<h3>Command papers, House of Commons and House of Lords papers</h3>

<p>Selected records are available from 1800.</p>

<p>Records are available from 1992 and include web links from 2005. The text of Parliamentary papers is not included.</p>




<h3>Deposited papers </h3>

<p>
Records are available from 1987. The text of deposited papers is not included.</p>

<p>Links between deposited papers and the commitment to deposit are available from May 2005. </p>

<p>Deposited papers can be downloaded from 2007 onwards. </p>


<h2>Parliamentary proceedings </h2>


<h3>Chamber business </h3>

<p>Indexed references to private notice questions and business statements are available from the 1987-88 session.</p>

<p>Indexed references to all Commons and Lords proceedings are available from the 1992-3 session, except royal assent proceedings in the Lords which are available from 2011.</p>

<p>Records with links to Commons Hansard are available from December 2000.</p>

<p>Records with links to Lords Hansard are available from May 2005.</p>

<p> 
Where a division has taken place, the result is noted in the record of the associated proceeding. 
</p>


 
<h3>Written corrections </h3> 


<p>Records of ministerial corrections are available from 2007.</p>

<p>Records of written corrections by Members of the House of Commons other than ministers are available from April 2024. </p>


<h2>Parliamentary questions </h2>

<h3>Oral questions</h3>

<p>Indexed references to oral questions in the Commons and Lords are available from the 1987-88 session. Lead and first supplementary questions were combined as a single record. Individual records were created for any subsequent supplementaries.</p>

<p>Records of oral questions in the Commons are available with web links from December 2000.</p>

<p>Records of oral questions in the Lords are available with web links from May 2005.</p>

<p>Records with full text are available from the 2005-06 session.</p>

<p>Until April 2012, separate oral answer records were created for oral questions that were grouped and answered together by the minister. From 1st April 2012, a single answer record was created and linked to the relevant oral questions.</p>


<h3>Written questions</h3>

<h4>Commons written questions</h4>

<p>Indexed references to written questions in the Commons are available from the 1987-88 session.</p>

<p>Records with full text are available from the 1996-97 session.</p>

<p>Records with web links are available from April 2000.</p>

<p>Before the 2005-06 session, written questions from the same member that were grouped and answered together by the minister were created as a single record.</p>


<h4>Lords written questions</h4>

<p>Indexed references to written questions in the Lords are available from the 1987-88 session.</p>

<p>Records with full text are available from the 2005-06 session.</p>

<p>Records with web links are available from October 2005.</p>

<p>Data for Lords Members declaring an interest which may be relevant to the subject matter of written questions are available from from 2013 to 2017, and from December 2025.</p>

<p>Before the 2014-15 session, Lords written questions were made available after they received an answer in Hansard.</p>

<p>From the 2014-15 session, Lords written questions were made available before an answer was received, together with the names of answering bodies.</p>


<h2>Petitions and observations </h2>

<p>Indexed references are available from the 1992-93 session.</p>

<p>Records with web links are available from December 2000.</p>

<p>Records with full text are available from the 2005-06 session.</p>

<h2>Research briefings </h2>

<p>Records of POST publications are available from May 1989.</p>

<p>Records of Commons Library briefings are available from January 1993.</p>

<p>Records of Lords Library briefings are available from June 1998. </p>

</div>
