<% unless answering_department.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <%= object_display_name(answering_department, singular: false) %>
  </div>
<% end %>