<% unless answering_body.blank? %>
  <% unless label.blank? %>
    <span class="item-details-label">
      <%= label %>
    </span>
  <% end %>
  <div class="item-details">
    <%= answering_body[:value] %>
  </div>
<% end %>