<% unless answering_member.blank? %>
  <div class="item-details">
    <div class="item-details-label">Answering Member</div>
    <span>
      <%= object_display_name(answering_member, singular: false) %>
    </span>
  </div>
<% end %>