<% unless answering_member.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <span>
      <%= object_display_name(answering_member, singular: false) %>
    </span>
    <% unless answering_member_party.blank? %>
      (<%= render 'content_type_objects/fragments/simple_list', items: answering_member_party, terminator: "", singular: false %>)
    <% end %>
  </div>
<% end %>