<% unless asking_member.blank? %>
  <div class="item-details">
    <label>Asking member</label>
    <span>
      <%= object_display_name(asking_member, singular: false) %>
    </span>
  </div>
<% end %>