<% unless asked_to_reply_author.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Asked to reply
    </div>
    <% asked_to_reply_author.each do |author| %>
      <%= object_display_name(author, singular: false) %><br/>
    <% end %>
  </div>
<% end %>