<% unless asked_to_reply_author.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Asked to reply
    </div>
    <%= render 'content_type_objects/fragments/simple_list', items: asked_to_reply_author, terminator: "", singular: false %>
  </div>
<% end %>