<% unless notes.blank? && date.blank? %>
  <div class="item-details">
    <% unless date.blank? %>
      <%= format_date(date) %>
    <% end %>
    <% unless date.blank? || notes.blank? %>
      ,
    <% end %>
    <% unless notes.blank? %>
      <%= notes[:value] %>
    <% end %>
  </div>
<% end %>