<% unless notes.blank? && date.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Coming into force
    </div>
    <% unless date.blank? %>
      <%= format_date_without_day(date) %>
    <% end %>
    <% unless date.blank? || notes.blank? %>
      ,
    <% end %>
    <% unless notes.blank? %>
      <%= notes[:value] %>
    <% end %>
  </div>
<% end %>