<% unless object.contribution_type.blank? %>
  <div class="item-details">
    <%= object_display_name(object.subtype_or_type, singular: false) %> - <%= object.contribution_type[:value] %>
  </div>
<% end %>