<% unless content.blank? %>
  <div class="item-details">
    <span>
      <%= raw content[:value].truncate_words(50) %>
      <!--      Nokogiri::HTML::DocumentFragment.parse(html).to_html-->
    </span>
  </div>
<% end %>