<% unless corresponding_minister.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Minister
    </div>
    <span>
      <%= object_display_name(corresponding_minister, singular: false) %>
    </span>
  </div>
<% end %>