<% unless corrected.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Corrected?
    </div>
    <span>
      <%= corrected ? "Yes" : "No" %>
    </span>
  </div>
<% end %>