<% unless corporate_author.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Author
    </div>
    <%= render 'search/fragments/simple_list', items: corporate_author, terminator: "", singular: false %>
  </div>
<% end %>