<% unless corporate_author.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <%= render 'search/fragments/simple_list', items: corporate_author, terminator: "", singular: false %>
  </div>
<% end %>