<% unless date_for_answer.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label"><%= label %></div>
    <% end %>
    <span>
      <%= format_date_without_day(date_for_answer) %>
    </span>
  </div>
<% end %>