<% unless date_of_order_to_print.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Ordered to be printed on
    </div>
    <span>
      <%= format_date_without_day(date_of_order_to_print) %>
    </span>
  </div>
<% end %>