<% unless date_originated.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      <%= label %>
    </div>
    <span>
      <%= format_date_without_day(date_originated) %>
    </span>
  </div>
<% end %>