<% unless date_approved.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <span>
      <%= format_date(date_approved) %>
    </span>
  </div>
<% end %>