<% unless date_of_holding_answer.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Holding answer on
    </div>
    <span>
      <%= format_date_without_day(date_of_holding_answer) %>
    </span>
  </div>
<% end %>