<% unless date_deposited.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Received on
    </div>
    <span>
      <%= format_date(date_deposited) %>
    </span>
  </div>
<% end %>