<% unless date_of_order_to_print.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        Ordered to be printed on
      </div>
    <% end %>
    <span>
      <%= format_date(date_of_order_to_print) %>
    </span>
  </div>
<% end %>