<% unless date_debated.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Debated on
    </div>
    <span>
      <%= format_date(date_debated) %>
    </span>
  </div>
<% end %>