<% unless date_of_answer.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <span>
      <%= format_date_without_day(date_of_answer) %>
    </span>
  </div>
<% end %>