<% unless date_tabled.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label"><%= label %></div>
    <% end %>
    <span>
      <%= format_date(date_tabled) %>
    </span>
  </div>
<% end %>