<% unless departments.blank? %>
  <div class="item-details">
    <% unless hide_label %>
      <div class="item-details-label">
        Department
      </div>
    <% end %>
    <%= render 'search/fragments/simple_list', items: departments, terminator: "", singular: false %>
  </div>
<% end %>