<% unless departments.blank? %>
  <div class="item-details">
    <label>Department:</label>
    <% departments.each do |department| %>
      <%= object_display_name(department, singular: false) %><br/>
    <% end %>
  </div>
<% end %>