<% unless applicant.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Applicant
    </div>
    <span>
      <%= object_display_name(applicant, singular: false) %>
    </span>
  </div>
<% end %>