<% unless description.blank? %>
  <div class="item-details">
    <span>
      <% if full_text == true %>
      <%= raw description[:value] %>
        <% else %>
      <%= raw description[:value].truncate_words(50) %>
        <% end %>
    </span>
  </div>
<% end %>