<% unless description.blank? %>
  <div class="item-details">
    <span>
      <% if full_text == true %>
        <%= raw format_html(description[:value], false) %>
      <% else %>
        <%= raw format_html(description[:value], 50) %>
      <% end %>
    </span>
  </div>
<% end %>