<% unless laid_by.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <span>
      <%= object_display_name(laid_by, singular: false) %>
    </span>
  </div>
<% end %>