<% unless lead_members.blank? %>
  <div class="item-details">
    <% unless label.blank? %>
      <div class="item-details-label">
        <%= label %>
      </div>
    <% end %>
    <span>
        <%= render 'search/fragments/simple_list', items: lead_members, terminator: "", singular: false %>
    </span>
  </div>
<% end %>
