<div class="row">
  <div class="item-details" id="legislation">
    <div class="item-details-label">
      Legislation
    </div>
    <%= render 'search/fragments/simple_list', items: legislation, terminator: "", singular: false %>
  </div>
</div>