<% unless legislation.blank? %>
  <div class="item-details">
    <% legislation.each do |legislation| %>
      <%= object_display_name(legislation, singular: false) %><br/>
    <% end %>
  </div>
<% end %>