<% unless legislative_stage.blank? %>
  <div class="item-details">
    <div class="item-details-label">Legislative stage</div>
    <span>
        <%= render 'search/fragments/simple_list', items: legislative_stage, terminator: "", singular: false %>
    </span>
  </div>
<% end %>