<% unless legislative_stage.blank? %>
  <div class="item-details-label">Legislative stage</label>
  <div class="item-details">
    <%= object_display_name(legislative_stage, singular: false) %>
  </div>
<% end %>