<% unless legislature.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      House
    </div>
    <%= render 'content_type_objects/fragments/simple_list', items: legislature, terminator: "", singular: false %>
  </div>
<% end %>