<% unless legislative_stage.blank? %>
  <div class="item-details">
    <div class="item-details-label">Legislative stage</div>
    <span>
        <%= object_display_name(legislative_stage, singular: false) %>
    </span>
  </div>
<% end %>