<% unless member.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Member
    </div>
    <span>
      <%= object_display_name(member, singular: false) %>
    </span>
    <% unless member_party.blank? %>
      (<%= render 'content_type_objects/fragments/simple_list', items: member_party, terminator: "", singular: false %>)
    <% end %>
  </div>
<% end %>