<% unless notes.blank? %>
  <div class="row">
    <div class="item-details" id="notes">
      <div class="item-details-label">
        Notes
      </div>
      <span>
      <%= notes[:value] %>
    </span>
    </div>
  </div>
<% end %>