<% unless place.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Chamber / Committee
    </div>
    <%= object_display_name(place, singular: false) %>
  </div>
<% end %>