<% unless place.blank? && house.blank? %>
  <div class="item-details">

    <% unless place.blank? %>
      <span><%= object_display_name(place, singular: false) %></span>,
    <% end %>
    <% unless house.blank? %>
      <%= render 'search/fragments/simple_list', items: house, terminator: "", singular: false %>
    <% end %>
  </div>
<% end %>