<% unless primary_sponsor.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Primary sponsor
    </div>
    <span>
      <%= object_display_name(primary_sponsor, singular: false) %>
    </span>
    <% unless primary_sponsor_party.blank? %>
      (<%= render 'content_type_objects/fragments/simple_list', items: primary_sponsor_party, terminator: "", singular: false %>)
    <% end %>
  </div>
<% end %>