<% unless procedure.blank? %>
  <div class="item-details">
    <label>Procedure</label>
    <% procedure.each do |p| %>
      <%= object_display_name(p, singular: false) %><br/>
    <% end %>
  </div>
<% end %>