<div class="row">
  <div class="item-details" class="subjects">
    <div class="item-details-label">
      Subjects
    </div>
    <%= render 'content_type_objects/fragments/simple_list', items: subjects, terminator: "", singular: false %>
  </div>
</div>
