<div class="row">
  <div class="item-details" id="subjects">
    <div class="item-details-label">
      Subjects
    </div>
    <%= render 'search/fragments/simple_list', items: subjects, terminator: "", singular: false %>
  </div>
</div>
