- unless subtype.blank? && type.blank?
  %div.item-details-label= "Type"
- unless subtype.blank?
  - if subtype.is_a?(Array)
    = render 'search/fragments/simple_list', items: subtype, separator: ';', terminator: ';', singular: false
  - else
    %span.item-details>= object_display_name(subtype, singular: true)
    %span>= "; "
- unless type.blank?
  - if type.is_a?(Array)
    = render 'search/fragments/simple_list', items: type, separator: ';', terminator: '', singular: false
  - else
    %span.item-details= object_display_name(type, singular: true)