<% unless tabling_member.blank? %>
  <div class="item-details">
    <label>Tabling member</label>
    <span>
      <%= object_display_name(tabling_member, singular: false) %>
    </span>
  </div>
<% end %>