<div class="row">
  <div class="item-details" class="topics">
    <div class="item-details-label">
      Topics
    </div>
    <%= render 'content_type_objects/fragments/simple_list', items: topics, terminator: "", singular: false %>
  </div>
</div>
