<div class="row">
  <div class="item-details" id="topics">
    <div class="item-details-label">
      Topic
    </div>
    <%= render 'search/fragments/simple_list', items: topics, terminator: "", singular: false %>
  </div>
</div>
