<% unless type.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      Type
    </div>
    <% if type.is_a?(Array) %>
      <%= render 'content_type_objects/fragments/simple_list', items: type, seperator: ';', terminator: '', singular: false %>
    <% else %>
      <%= object_display_name(type, singular: true) %>
    <% end %>
  </div>
<% end %>
