<div class="row">
  <div class="item-details" id="witnesses">
    <div class="item-details-label">
      Witnesses
    </div>
    <%= render 'search/fragments/simple_list', items: witnesses, terminator: "", singular: false %>
  </div>
</div>