<div class="row">
  <div class="item-details witnesses">
    <div class="item-details-label">
      Witnesses
    </div>
    <%= render 'content_type_objects/fragments/simple_list', items: witnesses, terminator: "", singular: false %>
  </div>
</div>