<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<section>
  <h1>We can't find what you are looking for</h1>
  <p>The page address may be incorrect, or the page may have been moved or deleted.</p>
  <p>Please check the page address. If you would like to report the problem, please
    contact support.</p>
</section>