<section class="facet">
  <div>
    <div>
      <strong><%= filter_field_name(facet_field[:field_name]) %></strong>
    </div>
    <% facet_field[:facets][0..4].each do |facet| %>
      <div>
        <%= link_to_if(!request.params.dig(:filter, facet_field[:field_name])&.include?(facet["val"].to_s), "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{facet["count"]})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "modifiable-link") %>
      </div>
    <% end %>
    <% unless facet_field[:facets][5..].blank? %>
      <details>
        <summary>More</summary>
        <% facet_field[:facets][5...].each do |facet| %>
          <div>
            <%= link_to_if(!request.params.dig(:filter, facet_field[:field_name])&.include?(facet["val"].to_s), "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{facet["count"]})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "modifiable-link") %>
          </div>
        <% end %>
      </details>
    <% end %>
  </div>
</section>