<section class="facet">
  <div>
    <div>
      <strong class="<%= 'inactive' if facet_field[:facets].size == 0 %>"><%= filter_field_name(facet_field[:field_name]) %></strong>
    </div>
    <% facet_field[:facets][0..4].each do |facet| %>
      <div>
        <%= link_to_if(!request.params.dig(:filter, facet_field[:field_name])&.include?(facet["val"].to_s), "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{number_to_delimited(facet["count"], separator: ",")})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "menu-link modifiable-link", title: scope_note("#{facet["val"]}_scope_note")) %>
      </div>
    <% end %>
    <% unless facet_field[:facets][5..].blank? %>
      <details>
        <summary>More</summary>
        <% facet_field[:facets][5...].each do |facet| %>
          <div>
            <%= link_to_if(!request.params.dig(:filter, facet_field[:field_name])&.include?(facet["val"].to_s), "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{number_to_delimited(facet["count"], separator: ",")})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "menu-link modifiable-link", title: scope_note("#{facet[:val]}_scope_note")) %>
          </div>
        <% end %>
      </details>
    <% end %>
  </div>
</section>