<% if id %>
  <div class="" style="margin-left: <%= (tier - 1) * 10 %>px;">
    <%= link_to "#{@hierarchy_data.dig(id, :name)} (#{(@search_data.facets.select { |h| h.dig(:field_name) == "type_sesrollup" }.first.dig(:facets).to_h.dig(id.to_s))})", url_for(apply_filter_url(request.params, 'type_sesrollup', id)) %>
  </div>
  <% if @hierarchy_data.dig(id) %>
    <% @hierarchy_data.dig(id, :children).each do |child| %>
      <% if @search_data.content_type_rollup_ids.include?(child.dig(:id)) %>
        <%= render 'hierarchy_layer', id: child.dig(:id), f: f, tier: tier + 1 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>