<li>
	<%= content_tag( 'p', link_to( result.title, object_show_url( :object => result.id ) ) ) %>
	<%= content_tag( 'p', result.description ) %>
	<%= content_tag( 'p', result.link ) %>
	<%= content_tag( 'p', "ID: #{result.id}" ) %>
</li>