<li>
	<%= content_tag( 'h2', result.display_title ) %>
	<ul>
		<%= render :partial => 'result_uri', :collection => result.uris %>
	</ul>
	<details>
		<%= content_tag( 'summary', 'SOLR XML' ) %>
	    <%= result.xml %>
	</details>
</li>