<span>
Showing results
<strong><%= @search_data.start %>
  - <%= [@search_data.end, @search_data.number_of_results].min %></strong>
of
<strong><%= number_to_delimited(@search_data.number_of_results, separator: ",") %></strong> in
<strong>
  <%= "#{(Time.now - @start_time).round(2)} seconds" %>.
</strong>
</span>
