<%#= render 'search/fragments/meta', object: object %>

<%#= render 'search/fragments/link', link: object.external_location_uri %>

<%#= render 'search/fragments/data', data: object.content_object_data %>

<% if @page_title %>
  <% content_for(:title) do %>
    <%= content_tag('h1', @page_title) %>
  <% end %>
<% end %>

<div class="content">
  <%= render 'search/fragments/edm_prelim', object: object %>
  <div class="content-text-wrapper">
    <div class="content-text">
      <%= object.motion_text %>
    </div>
    <%#= render '/search/fragments/copy_text_button' %>
  </div>

  <div style="height: 1388px; padding-left: 32px; padding-right: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="align-self: stretch; height: 1388px; padding: 16px; background: #EBEBEB; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
      <div style="width: 1078px; padding-bottom: 16px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; color: #181818; font-size: 27px; font-family: Helvetica; font-weight: 700; line-height: 37.80px; word-wrap: break-word">About
          this early day motion
        </div>
      </div>
      <div style="align-self: stretch; height: 79px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; height: 79px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Reference</div>
          <div style="align-self: stretch; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">1937</div>
        </div>
      </div>
      <div style="align-self: stretch; height: 79px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; height: 79px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Session</div>
          <div style="align-self: stretch; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">2023-24</div>
        </div>
      </div>
      <div style="align-self: stretch; height: 163px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; height: 147px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Other
            supporters
          </div>
          <div style="align-self: stretch">
            <span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">- </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Leland Meeks<br/></span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">- </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Dick Stensland<br/></span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">- </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Johnny Stompanato<br/></span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">- </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Pierce Patchett</span>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; height: 79px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; height: 79px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Registered
            interest declared
          </div>
          <div style="align-self: stretch; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">No</div>
        </div>
      </div>
      <div style="align-self: stretch; height: 303px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; height: 31px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Amendments</div>
        </div>
        <div style="align-self: stretch; height: 256px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="align-self: stretch; height: 120px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="align-self: stretch; height: 28px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch">
                <span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 700; line-height: 28px; word-wrap: break-word">Amendment 1 - STATE VISIT OF THE PRESIDENT OF THE U.S.A.</span><span style="color: #181818; font-size: 20px; font-family: National-LFSN; font-weight: 350; line-height: 28px; word-wrap: break-word"> (1937A1)</span>
              </div>
            </div>
            <div style="align-self: stretch; height: 28px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Line
                1, after 'welcomes' insert 'the large peaceful protest against the visit of'
              </div>
            </div>
            <div style="align-self: stretch; height: 56px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch">
                <span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Sponsored by </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Sid Hudgens</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word"> (primary, </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Labour Party</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">), </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Brett Chase</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word"> on Monday, 4 September 2023. It has been signed by two Members in total.</span>
              </div>
            </div>
          </div>
          <div style="align-self: stretch; height: 120px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="align-self: stretch; height: 28px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch">
                <span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 700; line-height: 28px; word-wrap: break-word">Amendment 2 - STATE VISIT OF THE PRESIDENT OF THE U.S.A.</span><span style="color: #181818; font-size: 20px; font-family: National-LFSN; font-weight: 350; line-height: 28px; word-wrap: break-word"> (1937A2)</span>
              </div>
            </div>
            <div style="align-self: stretch; height: 28px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Line
                2, leave out from 'Kingdom' to end.
              </div>
            </div>
            <div style="align-self: stretch; height: 56px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
              <div style="align-self: stretch">
                <span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Sponsored by </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Sid Hudgens</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word"> (primary, </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Labour Party</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">), </span><span style="color: #2B57AB; font-size: 20px; font-family: National-LFSN; font-weight: 350; text-decoration: underline; line-height: 28px; word-wrap: break-word">Brett Chase</span><span style="color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word"> on Monday, 4 September 2023. It has been signed by two Members in total.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; height: 179px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; height: 95px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Related
            items
          </div>
          <div style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="align-self: stretch; color: #2B57AB; font-size: 20px; font-family: Helvetica; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">Privacy
              Act 2023
            </div>
            <div style="width: 776px; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Thursday,
              2 February 2023 | Public acts
            </div>
          </div>
        </div>
        <div style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="align-self: stretch; color: #2B57AB; font-size: 20px; font-family: Helvetica; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">Food
              and Drink Act 2023
            </div>
            <div style="width: 776px; color: #181818; font-size: 20px; font-family: Helvetica; font-weight: 400; line-height: 28px; word-wrap: break-word">Thursday,
              2 February 2023 | Public acts
            </div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; height: 82px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; height: 66px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 160px; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Subjects</div>
          <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Privacy</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Crime</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Food
                and drink
              </div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Police</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Young
                people
              </div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Schools</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Teachers</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Pay</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">World
                economy
              </div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Inflation</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Education</div>
            </div>
            <div style="padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #555555; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
              <div style="text-align: center; color: white; font-size: 16px; font-family: Helvetica; font-weight: 400; line-height: 22.48px; word-wrap: break-word">Students</div>
            </div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; height: 115px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="height: 63px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Legislation</div>
          <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div style="color: #2B57AB; font-size: 20px; font-family: Helvetica; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">Privacy
              Act 2023
            </div>
          </div>
        </div>
        <div style="height: 28px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: flex">
          <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div style="color: #2B57AB; font-size: 20px; font-family: Helvetica; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">Food
              and Drink Act 2023
            </div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; height: 79px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="align-self: stretch; height: 79px; padding-bottom: 16px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 776px; color: #181818; font-size: 22px; font-family: Helvetica; font-weight: 700; line-height: 30.80px; word-wrap: break-word">Links</div>
          <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div style="color: #2B57AB; font-size: 20px; font-family: Helvetica; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">View
              this early day motion on edm.parliament.uk
            </div>
            <div style="width: 16px; height: 23px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 16px; height: 23px; color: #2B57AB; font-size: 16px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 27px; word-wrap: break-word"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%#= render '/search/fragments/back_to_top_button' %>

</div>