<section id="search" class="content-section white">
  <h2 class="content-heading">Search</h2>
  <%= form_with url: search_url, method: :get, local: true, id: 'search-form' do |f| %>
    <div class="search-grid-container">
      <%= f.text_field :query, class: 'grid-item', id: 'search-input', value: @search.blank? ? nil : @search.query %>
      <%= f.submit 'Search', class: 'grid-item', id: 'search-button' %>
    </div>
  <% end %>
</section>