<div id="search" class="row my-3">
  <div class="col">
    <%= form_with url: search_url, method: :get, remote: true, id: 'search-form', class: 'p-form' do |f| %>
      <div class="p-form__form-group">
        <div class="p-form__input--with-button">
          <%= f.text_field :query, id: 'search-input', class: 'p-form__input', spellcheck: true %>
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    <% end %>
  </div>
</div>