<% if year_filter.present? %>
  <% year_filter.each do |year| %>
    <section class="facet">
      <div>
        <div>
          <strong>Date</strong>
        </div>
        <div class="facets">
          <% @search_data.months(year).each_with_index do |month, index| %>
            <div>
              <%= link_to_unless(request.params.dig(:filter, "month")&.include?(month['val'].to_date.strftime("%Y-%-m")), "#{month['val'].to_date.strftime("%B")} #{year} (#{month['count']})", url_for(replace_filter_url(request.params, "month", year + "-#{index + 1}")), class: "menu-link modifiable-link") %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% elsif @search_data.single_data_year? %>
  <% @search_data.data_years.each do |year| %>
    <section class="facet">
      <div>
        <div>
          <strong>Date</strong>
        </div>
        <div class="facets">
          <% @search_data.months(year).each_with_index do |month, index| %>
            <div>
              <%= link_to_unless(request.params.dig(:filter, "month")&.include?(month['val'].to_date.strftime("%Y-%-m")), "#{month['val'].to_date.strftime("%B")} #{year} (#{month['count']})", url_for(replace_filter_url(request.params, "month", year + "-#{index + 1}")), class: "menu-link modifiable-link") %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
  <% unless @search_data.years.blank? %>
    <section class="facet">
      <div>
        <div>
          <strong>Date</strong>
        </div>
        <div class="facets">
          <% @search_data.years[0..4].each do |year_data| %>
            <div>
              <%= link_to("#{year_data["val"].to_date.year} (#{year_data["count"]})", url_for(apply_filter_url(request.params, "year", year_data["val"].to_date.year)), class: "menu-link modifiable-link") %>
            </div>
          <% end %>
          <% unless @search_data.years[5..].blank? %>
            <details>
              <summary>More</summary>
              <% @search_data.years[5..].each do |year_data| %>
                <div>
                  <%= link_to("#{year_data["val"].to_date.year} (#{year_data["count"]})", url_for(apply_filter_url(request.params, "year", year_data["val"].to_date.year)), class: "menu-link modifiable-link") %>
                </div>
              <% end %>
            </details>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>