<section class="facet">
  <div>
    <div>
      <strong>Session</strong>
    </div>
    <div class="facets">
      <% SolrSearch.sessions[0..4].each do |session| %>
        <div>
          <%= link_to("#{session}", url_for(apply_filter_url(request.params, "session", session)), class: "menu-link modifiable-link") %>
        </div>
      <% end %>

      <% unless SolrSearch.sessions[5..].blank? %>
        <details>
          <summary>More</summary>
          <% SolrSearch.sessions[5..].each do |session| %>
            <div>
              <%= link_to("#{session}", url_for(apply_filter_url(request.params, "session", session)), class: "menu-link modifiable-link") %>
            </div>
          <% end %>
        </details>
      <% end %>

    </div>
  </div>
</section>