<section class="facet">
  <div>
    <div>
      <strong>Session</strong>
    </div>
    <div class="facets">
      <% SolrSearch.sessions[0..4].each do |session| %>
        <% unless facet_data.dig("session_#{session}", "count") == 0 %>
          <div>
            <%= link_to_unless(request.params.dig(:filter, "session")&.include?(session), "#{session} (#{number_to_delimited(facet_data.dig("session_#{session}", "count"), separator: ",")})", url_for(apply_filter_url(request.params, "session", session)), class: "menu-link modifiable-link") %>
          </div>
        <% end %>
      <% end %>

      <% unless SolrSearch.sessions[5..].blank? %>
        <details>
          <summary>More</summary>
          <% SolrSearch.sessions[5..].each do |session| %>
            <% unless facet_data.dig("session_#{session}", "count") == 0 %>
              <div>
                <%= link_to_unless(request.params.dig(:filter, "session")&.include?(session), "#{session} (#{number_to_delimited(facet_data.dig("session_#{session}", "count"), separator: ",")})", url_for(apply_filter_url(request.params, "session", session)), class: "menu-link modifiable-link") %>
              </div>
            <% end %>
          <% end %>
        </details>
      <% end %>

    </div>
  </div>
</section>