<section class="facet">
  <h4 class="facet-heading">Type</h4>
  <div>
    <div>
    </div>
    <div class="facets" data-controller="expand-types">
      <% @search_data.hierarchy_builder.top_level_types&.each do |top_level_type| %>
        <%= render 'hierarchy_layer', hash: top_level_type, id: top_level_type[:id], tier: 1, parent_id: 0 %>
      <% end %>
    </div>
  </div>
</section>