<section hidden data-controller="claw" id="about-this-result">
  <h3 class="content-heading">About this result</h3>
  <h4 class="content-heading" id="reference">Timestamp</h4>
  <p>
    TIMESTAMP
  </p>
  <h4 class="content-heading" id="reference">URI</h4>
  <p>
    URI
  </p>
  <h4 class="content-heading" id="reference">Internal location URI</h4>
  <p>
    Internal location URI
  </p>
</section>
