<div id="answer">
	<%= content_tag( 'h2', 'Answer' ) %>
	<%= content_tag( 'p', "Answered by #{link_to( answer['answeringMemberPrinted_t'].last, object_show_url( :object => @object_uri, :anchor => answer['answeringMember_ses'].first ) )} on #{answer['dateOfAnswer_dt'].last.to_date.strftime( ApplicationHelper::DATE_DISPLAY_FORMAT )}.".html_safe, :id => 'answering' ) %>
	<%= content_tag( 'div', answer['answerText_t'].first.html_safe, :id => 'answer-text', :class => 'content' ) %>
</div>
