<% unless object.answer_text.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="answer"><%= object.corrected? ? 'Original answer' : 'Answer' %></h3>
    <p class="html-content">
      <%= raw(object.answer_text[:value]) %>
    </p>
    <%= render 'search/fragments/copy_button', content: object.answer_text[:value] %>
  </div>
<% end %>