<div id="bibliographic-citations">
	<%= content_tag( 'h2', 'Bibliographic citations' ) %>
	<ul>
		<%= render :partial => 'search/fragments/bibliographic_citation', :collection => bibliographic_citations %>
	</ul>
</div>