<div class="about-item">
  <h3 class="content-heading" id="bibliographic-citations">Bibliographic citations</h3>
  <ul>
    <% bibliographic_citations.each do |citation| %>
      <li><%= citation %></li>
    <% end %>
  </ul>
</div>