<% unless certified.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="certified-category">Certified for English Votes for English Laws</h3>
    <%= certified %>
  </div>
<% end %>