<% unless commission_number.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="commission_number">Commission number</div>
    <%= commission_number[:value] %>
  </div>
<% end %>