<% unless notes.blank? && date.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="coming-into-force">Coming into force</div>
    <% unless date.blank? %>
      <%= format_date(date) %>
    <% end %>
    <% unless date.blank? || notes.blank? %>
      ,
    <% end %>
    <% unless notes.blank? %>
      <%= notes[:value] %>
    <% end %>
  </div>
<% end %>