<% unless contributions.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="contributions">Proceeding contributions</h3>
    <% contributions[:contribution_data].first(2).each do |contribution| %>
      <%= render 'search/fragments/contribution', contribution: contribution, ses_data: contributions[:contribution_ses_data] %>
    <% end %>

    <% if contributions[:contribution_data].size > 2 %>
      <details>
        <summary>
          Show all contributions (<%= contributions[:contribution_data].size %>)
        </summary>
        <% contributions[:contribution_data].drop(2).each do |contribution| %>
          <%= render 'search/fragments/contribution', contribution: contribution, ses_data: contributions[:contribution_ses_data] %>
        <% end %>
      </details>
    <% end %>
  </div>
<% end %>