<% if contains_statistics && contains_statistics[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="contains-statistics">Contains statistics</div>
    <%= boolean_yes_no(contains_statistics) %>
  </div>
<% end %>