<% if considered %>
  <div class="about-item">
    <div class="content-heading-small" id="considered-by-european-statutory-instrument-committee">Considered by the European
      Statutory Instrument Committee</div>
    <%= format_date(considered) %>
  </div>
<% end %>