<% if contains_statistics && contains_statistics[:value] %>
  <div class="about-item">
    <h3 class="content-heading" id="contains-statistics">Contains statistics</h3>
    <%= boolean_yes_no(contains_statistics) %>
  </div>
<% end %>