<% if considered %>
  <div class="about-item">
    <h3 class="content-heading" id="considered-by-secondary-legislation-scrutiny-committee">Considered by the Secondary
      Legislation Scrutiny Committee</h3>
    <%= format_date(considered) %>
  </div>
<% end %>