<% unless contributions.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="contributions">Contributions</h3>
    <% contributions.each do |contribution| %>
      <div>
        <%= link_to contribution, '/' %><br/>
      </div>
    <% end %>
  </div>
<% end %>