<% if considered %>
  <div class="about-item">
    <h3 class="content-heading" id="considered-by-european-statutory-instrument-committee">Considered by the European
      Statutory Instrument Committee</h3>
    <%= format_date(considered) %>
  </div>
<% end %>