<% if contains_note && contains_note[:value] %>
  <div class="about-item">
    <h3 class="content-heading" id="contains-explanatory-note">Contains explanatory note</h3>
    <%= boolean_yes_no(contains_note) %>
  </div>
<% end %>