<% unless author.blank? %>
  <div class="about-item">
    <% unless label.blank? %>
      <h3 class="content-heading" id="corporate-author">
        <%= label %>
      </h3>
    <% end %>
    <% author.each do |item| %>
      <%= search_link(item) %><br/>
    <% end %>
  </div>
<% end %>