<% unless object.corrected_answer.blank? && object.correcting_item_link.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="corrected-answer">Corrected answer</h3>
    <% unless object.corrected_answer.blank? %>
      <p class="html-content">
        <%= raw(object.corrected_answer[:value]) %>
      </p>
    <% end %>
  </div>
  <% unless object.correcting_item_link.blank? %>
    <div class="about-item">
      <%= object_show_link(object.correcting_object.object_title, object.correcting_item_link) %>
    </div>
  <% end %>
<% end %>