<% unless author.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="corporate-author">Corporate author</h3>
    <% author.each do |item| %>
      <%= search_link(item) %><br/>
    <% end %>
  </div>
<% end %>