<% if object.corrected? %>
  <div class="about-item">
    <h3 class="content-heading" id="corrected-answer">Corrected answer</h3>
    <%= raw(object.corrected_answer) %>
  </div>
  <div class="about-item">
    <%= link_to object.corrected_item_link %>
  </div>
<% end %>