<%# A template to render the raw SOLR data. %>
<section class="content-section">
  <div class="about-item">
    <details class="solr-data">
      <summary>
        SOLR data
      </summary>
      <code>
        <%= data %>
      </code>
    </details>
  </div>
</section>
