<%# A template to render raw data. %>
<section class="content-section">
  <div class="about-item">
    <details class="solr-data">
      <summary>
        <%= title %>
      </summary>
      <code>
        <%= data %>
      </code>
    </details>
  </div>
</section>
