<% unless departments.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="department">Department</h3>
    <% departments.each do |department| %>
      <%= search_link(department) %><br/>
    <% end %>
  </div>
<% end %>