<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text">
      An <%= object_link('Early Day Motion', '/') %> tabled by <%= object_link(object.primary_sponsor, '/') %>
      on <%= object.date_tabled&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %>.
    </div>
  </div>
</div>

