<% unless eu_parliament_committee.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="european-parliament-committee">European Parliament committee</h3>
    <%= eu_parliament_committee[:value] %>
  </div>
<% end %>