<% unless legislative_stage.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="legislative-stage">Legislative stage</h3>
    <%= render 'search/fragments/list', items: legislative_stage, terminator: "", singular: false %>
  </div>
<% end %>