<% unless legislation.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="legislation">Legislation</div>
    <% legislation.each do |legislation| %>
      <%= search_link(legislation) %><br/>
    <% end %>
  </div>
<% end %>