<% unless legislative_stage.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="legislative-stage">Legislative stage</h3>
    <%= search_link(legislative_stage) %>
  </div>
<% end %>