<% unless commons.blank? && lords.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="library-location">Library location</h3>
    <% unless commons.blank? %>
      Commons Library: <%= commons[:value] %><br/>
    <% end %>
    <% unless lords.blank? %>
      Lords Library: <%= lords[:value] %>
    <% end %>
  </div>
<% end %>