<div class="about-item">
  <h3 class="content-heading" id="links">Links</h3>
  <%= link_to "View this #{@ses_data[object.type].singularize.downcase} on #{ URI.parse(object.display_link).host}", object.display_link %>
</div>