<% unless contribution_type.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="oral_question_type">Oral question type</h3>
    <%= contribution_type[:value] %>
  </div>
<% end %>