<% unless contribution_type.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="oral_question_type">Oral question type</div>
    <%= contribution_type[:value] %>
  </div>
<% end %>