<div class="about-item">
  <h3 class="content-heading" id="other-supporters">Other supporters</h3>
  <ul>
    <% supporters.each do |supporter| %>
      <li>- <%= ses_object_link(supporter) %></li>
    <% end %>
  </ul>
</div>