<% unless paper_type.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="paper-type">Paper type</h3>
    <% paper_type.each do |type| %>
      <%= search_link(type) %><br/>
    <% end %>
  </div>
<% end %>