<% unless procedure.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="procedure">Procedure</div>
    <% procedure.each do |p| %>
      <%= search_link(p) %><br/>
    <% end %>
  </div>
<% end %>