<% unless procedure.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="procedure">Procedure</h3>
    <%= search_link(procedure) %>
    <% unless approval_days.blank? %>
      <br/><%= approval_days %> days scrutiny period
    <% end %>
  </div>
<% end %>