<div class="about-item">
  <h3 class="content-heading" id="published-by">Published by</h3>
  <div class="publisher-logo">
    <% if lookup_context.template_exists?('/search/logo_svgs/house-of-commons-library', nil, :partial) %>
      <%= render object.publisher_logo_partial %>
    <% end %>
  </div>
</div>