<% if object.is_published && object.is_published[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="published-by">Published by</div>
    <%= search_link(object.section) %>
    <% unless object.section.blank? || object.published_by.blank? %>
      <% unless object.section[:value] == object.published_by[:value] %>
        <br/>
        <%= search_link(object.published_by) %>
      <% end %>
    <% end %>
  </div>
<% end %>