<% if object.is_published && object.is_published[:value] %>
  <div class="about-item">
    <h3 class="content-heading" id="published-by">Published by</h3>
    <%= search_link(object.section) %><br/>
    <%= search_link(object.published_by) %>
  </div>
<% end %>