<% unless object.question_text.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="question">Question</h3>
    <p class="html-content">
      <%= raw(object.question_text[:value]) %>
    </p>
    <%= render 'search/fragments/copy_button', content: object.question_text[:value] %>
  </div>
<% end %>