<% unless referred_to.blank? || referred_to[:value]&.downcase == "none" %>
  <div class="about-item">
    <div class="content-heading-small" id="referred-to">Referred to</div>
    <%= referred_to[:value] %>
  </div>
<% end %>