<% unless reference.blank? || reference.pluck(:value) == ["."] %>
  <div class="about-item">
    <div class="content-heading-small" id="reference">Reference</div>
    <% reference.each do |ref| %>
      <%= ref[:value] %>&nbsp
    <% end %>
  </div>
<% end %>