<!--like content section, this needs to be properly vertically spaced-->

<div class="about-item">
  <h3 class="content-heading" id="related-items">Related items</h3>
  <div class="flex-list">
    <% related_items[:items].each do |related_item| %>
      <div>
        <!--        TODO: this should link to the object page (this is a SOLR URI, not a a URL)-->
        <%= link_to(related_item.page_title, object_show_url(:object => related_item.content_object_data['uri'])) %>
        <br/>
        <% if related_item.date %>
          <%= related_item.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %><br/>
        <% end %>
        <% if related_item.type %>
          <%= related_items[:ses_lookup][related_item.type] %><br/>
        <% end %>
        <% if related_item.legislature %>
          <%= ses_name(related_item.legislature) %><br/>
        <% end %>
      </div>
    <% end %>
  </div>
</div>