<div class="about-item">
  <h3 class="content-heading" id="related-items">Related items</h3>
  <% related_items.each do |related_item| %>
  <div>
    <%= link_to related_item, '/' %><br/>
  </div>
  <% end %>
</div>