<% unless related_items.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="related-items">Related items</h3>
    <div class="flex-list">
      <% related_items[:items][..3].each do |related_item| %>
        <%= render 'search/fragments/related_item', related_item: related_item, ses_data: related_items[:ses_lookup] %>
      <% end %>
    </div>
    <% if related_items[:items].size > 4 %>
      <br/>
      <details>
        <summary>
          Show all related items (<%= related_items[:items].size %>)
        </summary>
        <br/>
        <div class="flex-list">
          <% related_items[:items][4..].each do |related_item| %>
            <%= render 'search/fragments/related_item', related_item: related_item, ses_data: related_items[:ses_lookup] %>
          <% end %>
        </div>
      </details>
    <% end %>
  </div>
  </div>
<% end %>