<% if reported && reported[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="reported-by-joint-committee">Reported by the Joint Committee on Statutory
      Instruments</div>
    <%= boolean_yes_no(reported) %>
  </div>
<% end %>