<div class="about-item">
  <h3 class="content-heading" id="reported-by-joint-committee">Reported by the Joint Committee on Statutory Instruments</h3>
  <%= boolean_yes_no(reported_by_joint_committee) %>
</div>