<div class="about-item">
  <h3 class="content-heading">Subjects</h3>
  <div class="pill-section">
    <% subjects.each do |subject| %>
      <div class="pill-wrapper">
        <div class="subject-pill"><%= subject.to_s.titleize %></div>
      </div>
    <% end %>
  </div>
</div>