<% if transferred && transferred[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="transferred">Transferred</div>
    <%= boolean_yes_no(transferred) %>
  </div>
<% end %>