%p.font-size-epsilon.reading-width
  %span>= search_link(object.object_name, singular: true)
  - unless object.date_of_royal_assent.blank?
    %span= " received Royal Assent on "
    %span>= format_date(object.date_of_royal_assent)
    %span= "."