.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_of_royal_assent.blank?
        %span= " received Royal Assent on "
        %span>= format_date(object.date_of_royal_assent)
      %span= "."