.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.deposited_date.blank?
        %span=" deposited on "
      %span>= format_date(object.deposited_date)
      %span= "."