.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_reported.blank?
        %span= " dated "
        %span>= format_date(object.date_reported)
        %span= "."