.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= render 'content_type_objects/fragments/list', items: object.object_name, terminator: '', singular: false
      - unless object.legislature.blank?
        %span= " reported in the "
        %span>= render 'content_type_objects/fragments/list', items: object.legislature, terminator: '', singular: false
      - unless object.date.blank?
        %span= " on "
        %span>= format_date(object.date)
      - unless object.corporate_author.blank?
        %span= " from the "
        %span>= render 'content_type_objects/fragments/list', items: object.corporate_author, terminator: '', singular: false
      %span= "."