/*override margins set by design system*/
/* reset bottom margin for last child paragraph */
p:last-child {
    margin-bottom: 18px;
}

/* only remove bottom margin for last direct child of a container */
.container-sm > p:last-child {
    margin-bottom: 0;
}

/* override showing nav placeholder in header as search isn't using a header nav at all */
nav#header-nav {
    display: none;
}

/* limit size of images in rendered HTML content */
img {
    max-width: 100%;
}

/* override narrow headings */
h1, h2, h3, h4, h5, h6 {
    max-width: 100%;
}