body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff
    /*background-color: #ebe9e8*/
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.5rem
}

.h5,h5 {
    font-size: 1.25rem
}

.h6,h6 {
    font-size: 1rem
}


/*.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto*/
/*}*/

/*@media(min-width: 576px) {*/
/*    .container,.container-sm {*/
/*        max-width:540px*/
/*    }*/
/*}*/

/*@media(min-width: 768px) {*/
/*    .container,.container-md,.container-sm {*/
/*        max-width:720px*/
/*    }*/
/*}*/

/*@media(min-width: 992px) {*/
/*    .container,.container-lg,.container-md,.container-sm {*/
/*        max-width:960px*/
/*    }*/
/*}*/

/*@media(min-width: 1200px) {*/
/*    .container,.container-lg,.container-md,.container-sm,.container-xl {*/
/*        max-width:1140px*/
/*    }*/
/*}*/

body main {
    flex: 1 0 auto;
    color: #4d4d4d;

}
body main article {
    margin: 15px 0;
    background-color: #fff
}

@media(min-width: 992px) {
body main article {
    margin:30px 0
}
}

body main article:focus {
outline: none
}
.block {
padding: 10px
}

@media(min-width: 992px) {
.block {
    padding:20px
}
}

