/* Team Robin Red Breast Design System */

html {
    scroll-behavior: smooth;
}

.nav-width-container {
    max-width: 100%;
    background: black;

    .nav-container {
        display: block;
        width: 1200px;
        margin: 0 auto;

        .nav-bar {
            width: 100%;
            height: 100%;
            padding: 24px 32px;
            background: black;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
            box-sizing: border-box;

            .nav-logo-wrapper {
                width: 185.92px;
                height: 46px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .div.nav-logo {
                    width: 185.92px;
                    height: 46px;
                    left: 0px;
                    top: 0px;
                    background: white
                }
            }

            .nav-item-container {
                justify-content: flex-end;
                align-items: flex-end;
                display: flex;
                gap: 16px;
            }

            .nav-item {
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
            }

            .nav-label {
                color: white;
                font-size: 20px;
                font-family: Helvetica, serif;
                font-weight: 700;
                line-height: 28px;
                word-wrap: break-word;
            }

            .nav-button-wrapper {
                width: 24px;
                height: 30px;
                position: relative;
            }
        }
    }
}

main {
    display: block;
    margin: 0 auto;
    font-family: Helvetica, serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 0;
}

body {
    margin: 0;
    border-bottom: 2em beige;
}

#api-data {
    background-color: #FFFFFF;
    padding: 1em;
}

/* content */
/* content prelim section */

.content-prelim-box {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 16px 32px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .content-prelim-inner {
        flex: 1 1 0;
        padding: 16px;
        background: #EBEBEB;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        display: flex;

        .content-prelim-text {
            flex: 1 1 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word;
        }
    }
}

/* main text of content */

.content-text-wrapper {
    align-self: stretch;
    height: 220px;
    padding: 16px 32px 32px 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;

    .content-text {
        color: #181818;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        word-wrap: break-word
    }
}

/* about section */

.content-about {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    padding: 16px 32px;

    .content-about-inner {
        align-self: stretch;
        padding: 16px;
        background: #EBEBEB;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: flex;

        .content-about-text {
            align-self: stretch;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            display: flex;
            color: #181818;
            font-size: 20px;
            font-family: Helvetica, serif;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word;
            margin-bottom: 16px;
        }

        .content-about-list {
            padding: 0;
            margin: 0;

            .content-about-list-item {
                list-style-type: none;
            }
        }

        .pill-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
        }

        .pill-wrapper {
            padding: 4px 8px;
            background: #555555;
            border-radius: 4px;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            display: flex;
        }

        .subject-pill {
            text-align: center;
            color: white;
            font-size: 16px;
            font-family: Helvetica;
            font-weight: 400;
            line-height: 22.48px;
        }

        .amendment-title {
            color: #181818;
            font-size: 20px;
            font-family: Helvetica;
            font-weight: 700;
            line-height: 28px;
            word-wrap: break-word;
        }

        .amendment-title-ref {
            color: #181818;
            font-size: 20px;
            font-family: National-LFSN;
            font-weight: 350;
            line-height: 28px;
            word-wrap: break-word
        }

        .amendment-text-wrapper {
            align-self: stretch;
            height: 28px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;
            display: flex
        }

        .amendment-text {
            align-self: stretch;
            color: #181818;
            font-size: 20px;
            font-family: Helvetica;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word
        }

        .amendment-sponsors-wrapper {
            align-self: stretch;
            height: 56px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;
            display: flex;

            .amendment-sponsor {
                color: #181818;
                font-size: 20px;
                font-family: Helvetica;
                font-weight: 400;
                line-height: 28px;
                word-wrap: break-word;
            }
        }
    }
}

a {
    color: #2B57AB;
    font-size: 20px;
    font-family: National-LFSN, serif;
    font-weight: 350;
    text-decoration: underline;
    line-height: 28px;
    word-wrap: break-word
}

h1, h2, h3 {
    color: #181818;
    font-family: Helvetica, serif;
    font-weight: 700;
    word-wrap: break-word;
}

h2.content-heading {
    font-size: 27px;
    line-height: 37.80px;
    margin-top: 0;
}

h3.content-heading {
    font-size: 22px;
    line-height: 30.80px;
    margin-top: 0;
    margin-bottom: 0;
}

details.solr-data {
    padding-top: 1em;
}