/* Team Robin Red Breast Design System */

html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, system-ui, sans-serif
}

body {
    margin: 0;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    word-wrap: break-word;
    line-height: 1.5em;
    flex-grow: 1;
}

main.narrow {
    max-width: 1020px;
}

.footer-container {
    background: black;
}

footer {
    display: block;
    margin: 0 auto;
    background: black;
    border: none;
    color: white;

    .col {
        padding: 24px 24px 0 24px;
    }

    hr {
        margin: 32px 0 24px 0;
    }

    a {
        color: white;
    }

    .footer-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        display: flex;
        box-sizing: border-box;
    }

    #footer-links {
        padding-bottom: 24px;
    }
}

/* Main nav bar */
.nav-width-container {
    max-width: 100%;
    background: black;

    .nav-container {
        display: block;
        margin: 0 auto;

        .nav-bar {
            width: 100%;
            height: 100%;
            background: black;
            padding: 24px 24px;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
            box-sizing: border-box;

            .nav-logo-wrapper {
                width: 185.92px;
                height: 46px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .div.nav-logo {
                    width: 185.92px;
                    height: 46px;
                    left: 0;
                    top: 0;
                    background: white
                }
            }

            .nav-item-container {
                justify-content: flex-end;
                align-items: flex-end;
                gap: 16px;
            }

            .nav-item {
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
            }

            .nav-label {
                color: white;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                word-wrap: break-word;
            }

            .nav-button-wrapper {
                width: 24px;
                height: 30px;
                position: relative;
            }
        }
    }
}

/* Object views */
/* Object view preliminary text */
.content-prelim-box {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 8px 0;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .content-prelim-inner {
        flex: 1 1 0;
        padding: 16px 16px;
        background: none;
        border: 2px solid;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        display: flex;

        .content-prelim-text {
            flex: 1 1 0;
        }
    }
}

div.callout {
    background-color: #E7DFF4;
    border-left: 6px solid #2B57AB;
    padding: 16px;
}

/* Object view sections */

.object-claw {
    border: 1px solid black;
    padding: 16px;

    div.claw-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        padding: 16px 0;
        column-gap: 24px;
        row-gap: 12px;

        span {
            align-content: center;
            word-wrap: anywhere;
        }
    }
}

/*temporarily un-nested from within content section*/
.pill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pill-wrapper {
    padding: 4px 8px;
    background: #555555;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: flex;
}

.pill {
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 22.48px;
}

.pill a {
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 22.48px;
    text-decoration: none;
    background: none;
}

#search-results {
    margin: 4px 0;
}

.content-section {
    &.grey {
        background: none;
        padding: 16px;
        border: 2px solid
    }

    &.white {
        background: none;
        padding: 16px 0;
    }

    &.white-padded {
        background: none;
        padding: 8px 0;
    }

    &.white-slim {
        background: none;
        padding: 0;
        margin: 4px 0;
    }

    &.centered {
        text-align: center;

        p {
            align-self: center;
        }
    }

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    box-sizing: border-box;

    .about-item {
        width: 100%;
        color: #4d4d4d;
    }

    .content-text {
        padding: 16px 0px;
    }

    .publisher-logo {
        padding-top: 8px;
    }

    .flex-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: flex;
        box-sizing: border-box;
    }

    .pill-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .pill-wrapper {
        padding: 4px 8px;
        background: #555555;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        display: flex;
    }

    .pill {
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 22.48px;
    }

    .pill a {
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 22.48px;
        text-decoration: none;
        background: none;
    }

    .amendment-text {
        align-self: stretch;
        color: #181818;
    }
}

/* Link formatting */
a {
    color: #2B57AB;
    font-weight: 350;
    text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #373151;
    font-weight: 700;
}

h1 {
    line-height: 1.2em;
}

h2.content-heading {
    font-size: 27px;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

h3.content-heading {
    font-size: 16px;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

/* Unformatted lists */
ul.unformatted {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

div.about-item {
    div.content-heading-small {
        color: grey;
        font-size: small;
        line-height: normal;
    }
}

/*tables*/

table, td, th {
    border: 1px solid
}

table {
    display: table;
    border-collapse: collapse;

    p {
        margin-bottom: 18px;
        margin-top: 0;
        padding: 1px;
        margin-block-start: 18px;
        margin-block-end: 18px;
    }
}

/* Back to top & any other on-page buttons */
.mini-button-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;

    button {
        all: unset;
    }

    .page-button {
        display: flex;
        align-items: center;
        height: 1.25em;
        border: 1px #2B57AB solid;
        background: white;
        border-radius: 2px;
        color: #2B57AB;
        text-decoration: none;
        padding: 2px 4px;
        cursor: pointer;
        font-size: x-small;

        &:hover {
            background: #f1f1f1;
        }
    }
}

.button-container {
    margin: 32px;
    justify-content: center;
    gap: 16px;
    display: flex;
    box-sizing: border-box;

    &.copy-button-container {
        margin: 0 0 16px 0;
        width: 100%;
    }

    &.top-button-container {
        margin: 32px 16px 16px 16px;
    }

    .page-button {
        border: 2px #2B57AB solid;
        background: white;
        border-radius: 4px;
        color: #2B57AB;
        text-decoration: none;
        padding: 8px 16px;
        cursor: pointer;
        font-size: large;
        width: 250px;

        &:hover {
            background: #f1f1f1;
        }
    }

    .button-link {
        border: 2px #2B57AB solid;
        background: white;
        border-radius: 4px;
        color: #2B57AB;
        text-decoration: none;
        padding: 8px 16px;

        &:hover {
            background: #f1f1f1;
        }
    }
}

/* Reactivity */
/* Mobile, below 640px */
@media only screen and (max-width: 640px) {

    /*nav bar*/
    .nav-container {
        min-width: 250px;
        max-width: 640px;

        .nav-bar {
            padding: 24px 16px;

            .nav-item-container {
                display: none;
            }
        }
    }

    #facet-container-large {
        display: none;
    }

    #facet-container-small {
        margin: 8px 0;
        display: block;
    }

    #search-button-large {
        display: none;
    }

    #search-button-small {
        display: inline-block;
    }

    #search-input {
        /*border-radius: 4px;*/
    }

    main {
        max-width: 640px;
        min-width: 250px;
    }

    section {
        margin: 16px 0;
    }

    .search-control-panel-row {
        flex-direction: column;
    }

    .result-panel {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

}

/* Tablet, 640-900px */
@media only screen and (min-width: 640px) and (max-width: 1020px) {

    /*nav bar*/
    .nav-container {
        max-width: 1020px;

        .nav-bar {
            padding: 24px 16px;

            .nav-item-container {
                display: none;
            }
        }
    }

    #facet-container-large {
        display: block;
    }

    #facet-container-small {
        display: none;
    }

    #search-button-large {
        display: inline-block;
    }

    #search-button-small {
        display: none;
    }

    #search-input {
    }

    main {
        max-width: 1020px;
    }

    section {
        margin: 16px 0;
    }

    .search-control-panel-row {
        flex-direction: column;
    }

    .result-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }
}

/* 'Large' desktop, from 1020px */
@media only screen and (min-width: 1020px) and (max-width: 1280px) {

    /*nav bar*/
    .nav-container {
        max-width: 100%;

        .nav-bar {
            padding: 24px 32px;

            .nav-item-container {
                display: flex;
            }
        }
    }

    #facet-container-large {
        display: block;
    }

    #facet-container-small {
        display: none;
    }

    #search-button-large {
        display: inline-block;
    }

    #search-button-small {
        display: none;
    }

    #search-input {
    }

    main, footer {
        max-width: 100%;
    }

    section {
        margin: 16px 0;
    }

    .search-control-panel-row {
        flex-direction: row;
    }

    /* for full-size displays we switch to a grid system, as it gives us alignment between multiple rows */
    .result-panel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 6px;
    }
}

/* 'Very large' desktop, from 1280px */
@media only screen and (min-width: 1280px) {
    /*nav bar*/
    .nav-container {
        max-width: 1580px;

        .nav-bar {
            padding: 24px 32px;

            .nav-item-container {
                display: flex;
            }
        }
    }

    #facet-container-large {
        display: block;
    }

    #facet-container-small {
        display: none;
    }

    #search-button-large {
        display: inline-block;
    }

    #search-button-small {
        display: none;
    }

    #search-input {
    }

    main, footer {
        max-width: 1580px;
    }

    section {
        margin: 16px 0;
    }

    .search-control-panel-row {
        flex-direction: row;
    }

    /* for full-size displays we switch to a grid system, as it gives us alignment between multiple rows */
    .result-panel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 6px;
    }
}
