/* Team Robin Red Breast Design System */

html {
    scroll-behavior: smooth;
}

.nav-width-container {
    max-width: 100%;
    background: black;

    .nav-container {
        display: block;
        width: 1200px;
        margin: 0 auto;

        .nav-bar {
            width: 100%;
            height: 100%;
            padding: 24px 0;
            background: black;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            display: inline-flex;

            .nav-logo-wrapper {
                width: 185.92px;
                height: 46px;
                position: relative;

                .div.nav-logo {
                    width: 185.92px;
                    height: 46px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: white
                }
            }

            .nav-item-container {
                justify-content: flex-start;
                align-items: flex-start;
                gap: 40px;
                display: flex
            }

            .nav-item {
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
            }

            .nav-label {
                color: white;
                font-size: 20px;
                font-family: Helvetica;
                font-weight: 700;
                line-height: 28px;
                word-wrap: break-word;
            }

            .nav-button-wrapper {
                width: 24px;
                height: 30px;
                position: relative;

                . nav-button {
                    width: 5px;
                    height: 10px;
                    left: 17px;
                    top: 12px;
                    position: absolute;
                    transform: rotate(90deg);
                    transform-origin: 0 0;
                    border: 0.98px white solid
                }
            }
        }
    }
}

main {
    font-family: system-ui;
    font-size: 1.2em;
    line-height: 1.4;
    margin: auto;
    max-width: 80ch;
    padding: 0 1.5ch;
}

body {
    margin: 0;
    border-bottom: 2em beige;
}

#api-data {
    background-color: #FFFFFF;
    padding: 1em;
}

.prelim-container {
    align-self: stretch;
    padding: 16px 32px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .prelim-text-container {
        flex: 1 1 0;
        padding: 16px;
        background: #EBEBEB;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        display: flex;

        .prelim-text {
            flex: 1 1 0;
            font-size: 20px;
            font-family: Helvetica;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word;
        }
    }
}

.content {
    font-family: Helvetica;
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .content-about {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    }

    .content-text-wrapper {
        align-self: stretch;
        height: 220px;
        padding: 16px 32px 32px 32px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: flex;

        .content-text {
            color: #181818;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word
        }

        .content-heading {
            align-self: stretch;
            color: #181818;
            font-size: 22px;
            font-weight: 700;
            line-height: 30.80px;
            word-wrap: break-word;
        }
    }
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    flex: 1 1 0;
    color: #181818;
    font-size: 27px;
    font-family: Helvetica;
    font-weight: 700;
    line-height: 37.80px;
    word-wrap: break-word
}

details.solr-data {
    padding-top: 1em;
}