/* Team Robin Red Breast Design System */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    border-bottom: 2em beige;
}

main {
    display: block;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 28px;
}

/* Main nav bar */
.nav-width-container {
    max-width: 100%;
    background: black;

    .nav-container {
        display: block;
        margin: 0 auto;

        .nav-bar {
            width: 100%;
            height: 100%;
            background: black;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
            box-sizing: border-box;
            font-family: Helvetica, sans-serif;

            .nav-logo-wrapper {
                width: 185.92px;
                height: 46px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .div.nav-logo {
                    width: 185.92px;
                    height: 46px;
                    left: 0;
                    top: 0;
                    background: white
                }
            }

            .nav-item-container {
                justify-content: flex-end;
                align-items: flex-end;
                gap: 16px;
            }

            .nav-item {
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
            }

            .nav-label {
                color: white;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                word-wrap: break-word;
            }

            .nav-button-wrapper {
                width: 24px;
                height: 30px;
                position: relative;
            }
        }
    }
}

#search-button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 1px solid #2B57AB;
    border-radius: 0;
    background: #2B57AB;
    color: white;
    font-family: Helvetica, sans-serif;
}

#search-input {
    display: inline-block;
    width: auto;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    border: 1px solid #2B57AB;
    border-radius: 0rem;
}

#pagination {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 1em;
    justify-content: center;
    gap: 1em;
    font-size: large;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
}

/* Object views */
/* Object view preliminary text */
.content-prelim-box {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .content-prelim-inner {
        flex: 1 1 0;
        padding: 16px 16px;
        background: #EBEBEB;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        display: flex;

        .content-prelim-text {
            flex: 1 1 0;
        }
    }
}

div.callout {
    background-color: #E7DFF4;
    border-left: 6px solid #2B57AB;
    padding: 16px;
}

/* Object view custom lists (e.g. amendments) */
.content-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    box-sizing: border-box;
}

/* Object view sections */
/* TODO: some classes could probably be renamed */
.content-section {
    &.grey {
        background: #EBEBEB;
        padding: 16px;
    }

    &.white {
        background: none;
        padding: 16px 0;
    }

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
    box-sizing: border-box;

    .about-item {
        .raw-html & p {
            margin: 0;
        }

        color: #181818;
    }

    .content-text {
        padding: 16px 0px;
    }

    .publisher-logo {
        padding: 8px 0;
    }

    .flex-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: flex;
        box-sizing: border-box;
    }

    .pill-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    .pill-wrapper {
        padding: 4px 8px;
        background: #555555;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        display: flex;
    }

    .pill {
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 22.48px;
    }

    .amendment-title {
        color: #181818;
        font-weight: 700;
    }

    .amendment-title-ref {
        color: #181818;
        font-family: National-LFSN, sans-serif;
        font-weight: 350;
    }

    .amendment-text {
        align-self: stretch;
        color: #181818;
    }
}

/* Link formatting */
a {
    color: #2B57AB;
    font-weight: 350;
    text-decoration: underline;
}

/* Headings */
h1, h2, h3 {
    color: #181818;
    font-weight: 700;
}

h1 {
    line-height: 42.00px;
}

h2.content-heading {
    font-size: 27px;
    line-height: 37.80px;
    margin-top: 0;
}

h3.content-heading {
    font-size: 22px;
    line-height: 30.80px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Lists */
/* Remove all list styling */
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Back to top & any other on-page buttons */
.button-container {
    margin: 32px;
    justify-content: center;
    gap: 16px;
    display: flex;
    box-sizing: border-box;
}

.button-link {
    border: 1px #2B57AB solid;
    background: white;
    border-radius: 4px;
    color: #2B57AB;
    text-decoration: none;
    padding: 8px 16px;
}

/* Reactivity */
/* Mobile View */
/* Below 360px width, reduce padding & margins and hide the nav menu */
/* TODO: add nav menu to show in its place */
@media only screen and (max-width: 360px) {

    header {
        padding: 16px 16px 0 16px;
    }

    /*nav bar*/
    .nav-container {
        width: 360px;

        .nav-bar {
            padding: 24px 16px;

            .nav-item-container {
                display: none;
            }
        }
    }

    main {
        max-width: 360px;
    }

    section {
        margin: 16px 16px
    }

}

/* Between 360px and 1200px widths, use larger margins & padding but use mobile menu */
/* Wireframes don't cover these screen sizes so this may need some adjustments later */
@media only screen and (min-width: 360px) and (max-width: 1200px) {

    header {
        padding: 16px 32px 0 32px;
    }

    /*nav bar*/
    .nav-container {
        max-width: 1200px;

        .nav-bar {
            padding: 24px 32px;

            .nav-item-container {
                display: none;
            }
        }
    }

    main {
        max-width: 1200px;
    }

    section {
        margin: 16px 32px
    }

}

/* Above 1200px width, show the nav menu in full desktop mode */
@media only screen and (min-width: 1200px) {

    header {
        padding: 16px 32px 0 32px;
    }

    /*nav bar*/
    .nav-container {
        width: 1200px;

        .nav-bar {
            padding: 24px 32px;

            .nav-item-container {
                display: flex;
            }
        }
    }

    main {
        max-width: 1200px;
    }

    section {
        margin: 16px 32px
    }

}