/* Team Robin Red Breast Design System */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    border-bottom: 2em beige;
}

main {
    display: block;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 0;
}

/*nav bar*/
.nav-width-container {
    max-width: 100%;
    background: black;

    .nav-container {
        display: block;
        margin: 0 auto;

        .nav-bar {
            width: 100%;
            height: 100%;
            background: black;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
            box-sizing: border-box;

            .nav-logo-wrapper {
                width: 185.92px;
                height: 46px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .div.nav-logo {
                    width: 185.92px;
                    height: 46px;
                    left: 0px;
                    top: 0px;
                    background: white
                }
            }

            .nav-item-container {
                justify-content: flex-end;
                align-items: flex-end;
                gap: 16px;
            }

            .nav-item {
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
            }

            .nav-label {
                color: white;
                font-size: 20px;
                font-family: Helvetica, sans-serif;
                font-weight: 700;
                line-height: 28px;
                word-wrap: break-word;
            }

            .nav-button-wrapper {
                width: 24px;
                height: 30px;
                position: relative;
            }
        }
    }
}

.content-prelim-box {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 16px 0;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .content-prelim-inner {
        flex: 1 1 0;
        padding: 16px;
        background: #EBEBEB;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        display: flex;

        .content-prelim-text {
            flex: 1 1 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            word-wrap: break-word;
        }
    }
}

.content-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    box-sizing: border-box;
}

.content-section {
    &.grey {
        background: #EBEBEB;
        padding: 16px;
    }

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
    box-sizing: border-box;

    .about-item {
        font-size: 20px;
        color: #181818;
        font-weight: 400;
        line-height: 28px;
        word-wrap: break-word
    }

    .pill-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    .pill-wrapper {
        padding: 4px 8px;
        background: #555555;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        display: flex;
    }

    .pill {
        text-align: center;
        color: white;
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        font-weight: 400;
        line-height: 22.48px;
    }

    .amendment-title {
        color: #181818;
        font-size: 20px;
        font-family: Helvetica, sans-serif;
        font-weight: 700;
        line-height: 28px;
        word-wrap: break-word;
    }

    .amendment-title-ref {
        color: #181818;
        font-size: 20px;
        font-family: National-LFSN;
        font-weight: 350;
        line-height: 28px;
        word-wrap: break-word
    }

    .amendment-text {
        align-self: stretch;
        color: #181818;
        font-size: 20px;
        font-family: Helvetica, sans-serif;
        font-weight: 400;
        line-height: 28px;
        word-wrap: break-word
    }
}

a {
    color: #2B57AB;
    font-size: 20px;
    font-family: National-LFSN, serif;
    font-weight: 350;
    text-decoration: underline;
    line-height: 28px;
    word-wrap: break-word
}

h1, h2, h3 {
    color: #181818;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

h2.content-heading {
    font-size: 27px;
    line-height: 37.80px;
    margin-top: 0;
}

h3.content-heading {
    font-size: 22px;
    line-height: 30.80px;
    margin-top: 0;
    margin-bottom: 0;
}

/*Remove all list styling*/
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.button-container {
    margin: 32px;
    justify-content: center;
    gap: 16px;
    display: flex;
    box-sizing: border-box;
}

.button-link {
    border: 1px #2B57AB solid;
    background: white;
    border-radius: 4px;
    color: #2B57AB;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    padding: 8px 16px;
}

details.solr-data {
    padding-top: 1em;
}

@media only screen and (max-width: 360px) {

    header {
        padding: 16px 16px 0 16px;
    }

    /*nav bar*/
    .nav-container {
        width: 360px;

        .nav-bar {
            padding: 24px 16px;

            .nav-item-container {
                display: none;
            }
        }
    }

    main {
        max-width: 360px;
    }

    section {
        margin: 16px 16px
    }

}

@media only screen and (min-width: 1280px) {

    header {
        padding: 16px 32px 0 32px;
    }

    /*nav bar*/
    .nav-container {
        width: 1200px;

        .nav-bar {
            padding: 24px 32px;

            .nav-item-container {
                display: flex;
            }
        }
    }

    main {
        max-width: 1200px;
    }

    section {
        margin: 16px 32px
    }

}