#search-results {
    div.applied-filters {
        .applied-filter-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;

            .filter-wrapper {
                padding: 4px 8px;
                background: #555555;
                border-radius: 4px;
                justify-content: flex-start;
                align-items: center;
                display: flex;

                .search-filter {
                    .top-row {
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        line-height: 12px;

                        .filter-name-label {
                            font-size: small;
                        }

                        .flex-spacer {
                            flex-grow: 1;
                        }

                        a {
                            vertical-align: text-top;
                            padding-left: 10px;
                            font-weight: bold;
                            font-size: small;
                            /*padding: 0 5px;*/
                            color: white;
                            text-decoration: none;
                            background: none;
                        }
                    }

                    .bottom-row {
                        .filter-name {
                            color: white;
                        }
                    }
                }
            }

        }
    }

    section.facet {
        .inactive {
            color: grey;
        }
    }

    .grid-row {
        display: grid;
        grid-template-columns: 15px auto;

        .facet-toggle {
            grid-column: 1 / 2;

            a {
                align-items: center;
                text-decoration: none;
            }
        }

        .facet-link {
            div {
                grid-column: 2 / 3;
            }
        }
    }

    a.hierarchy-toggle {
        cursor: pointer;
    }

    .item-details-label {
        color: grey;
        font-size: small;
        line-height: normal;
    }
}