#search-form {
    width: 100%;

    div.search-grid-container {
        width: 100%;
        display: flex;
        padding: 16px 0;

        #search-button-large {
            padding: 0.5rem 2rem;
            font-size: 1rem;
            border: 2px solid #2B57AB;
            border-radius: 0 4px 4px 0;
            background: #2B57AB;
            color: white;
        }

        #search-button-small {
            flex-grow: 1;
            border: 2px solid #2B57AB;
            border-radius: 0 4px 4px 0;
            background: #2B57AB;
            color: white;
        }

        #search-input {
            flex-grow: 3;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            color: #212529;
            background-color: #fff;
            border: 1px solid #2B57AB;
            border-right: none;
            border-radius: 4px 0 0 4px;
        }
    }
}

.results-claw {
    font-size: x-small;

    .claw-uri, .claw-timestamp {
        line-height: 1;
        align-content: center;
    }

    .claw-uri {
        text-align: center;
    }

    div.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        padding: 0;
        margin-top: 4px;
        column-gap: 12px;
        justify-content: space-between;

        span {
            word-wrap: anywhere;
        }
    }
}

div.search-result-container {
    padding: 8px 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid grey;
    }
}

#search-results {
    width: 100%;

    section {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .collapse {
        display: none;
    }

    div.applied-filters {
        .applied-filter-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;
            margin: 8px 0;

            .filter-wrapper {
                padding: 4px 8px;
                background: #555555;
                border-radius: 4px;
                justify-content: flex-start;
                align-items: center;
                display: flex;

                .filter {
                    .top-row {
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        line-height: 12px;

                        .filter-name-label {
                            font-size: small;
                        }

                        .flex-spacer {
                            flex-grow: 1;
                        }

                        a {
                            vertical-align: text-top;
                            padding-left: 10px;
                            font-weight: bold;
                            font-size: small;
                            /*padding: 0 5px;*/
                            color: white;
                            text-decoration: none;
                            background: none;
                        }
                    }

                    .bottom-row {
                        .filter-name {
                            color: white;
                        }
                    }
                }
            }

        }
    }

    section.facet {
        margin-top: 0px;
        margin-bottom: 18px;

        .inactive {
            color: grey;
        }

        h4.facet-heading {
            margin-top: 0;
            margin-bottom: 0.25em;
        }
    }

    .grid-row {
        display: grid;
        grid-template-columns: 15px auto;

        .facet-toggle {
            grid-column: 1 / 2;

            a {
                align-items: center;
                text-decoration: none;
            }
        }

        .facet-link {
            div {
                grid-column: 2 / 3;
            }
        }
    }

    div.filter-heading {
        font-weight: bold;
    }

    div.results-grid-container {
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;

        div.filter-container {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        @media only screen and (max-width: 640px) {
            div.filter-container {
                grid-column: 1 / 21;
            }

            div.results-container {
                grid-column: 1 /21;
            }
        }

        @media only screen and (min-width: 640px) {
            div.filter-container {
                grid-column: 1 / 6;
            }

            div.results-container {
                grid-column: 7 /21;
            }
        }
    }

}

.result-item {
    padding: 0;

    .row {
        .item-details {
            line-height: normal;
            padding-top: 4px;
            padding-bottom: 4px;

            * {
                max-width: 100%;
            }
        }
    }

    .item-details-label {
        color: grey;
        font-size: small;
        line-height: normal;
    }
}

.search-control-panel {
    .search-control-panel-row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: space-between;

        .search-control-panel-item {
            .search-control-panel-label {
                align-content: center;
            }

            span.search-control-panel-current {
                align-content: center;
                background: #2B57AB;
                color: white;
                padding: 0.2rem;
            }

            span.search-control-panel-link {
                padding: 0.2rem;

                &:hover {
                    text-decoration-thickness: 3px;
                    background: #e3e3e3
                }
            }
        }

        .flex-spacer {
            flex-grow: 1;
        }
    }
}

#pagination {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 0;
    margin: 10px 0;
    justify-content: center;
    gap: 0;
    font-size: large;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;

    span {
        a {
            padding: 0.7em 1em;

            &:hover {
                text-decoration-thickness: 3px;
                background: #e3e3e3
            }

            &.selected {
                background: #2B57AB;
                color: white;
            }
        }
    }

}

.form-select {
    border-radius: 4px;
    height: 40px;
    background: #FFFFFF;
    border: 1.5px solid #555555;
}