#search-form {
    width: 100%;

    div.search-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        padding: 16px 0;
        gap: 0;

        #search-button {
            grid-column: 12 / 13;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            border: 2px solid #2B57AB;
            border-radius: 0 4px 4px 0;
            background: #2B57AB;
            color: white;
        }

        #search-input {
            grid-column: 1 / 12;
            display: inline-block;
            width: auto;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            color: #212529;
            background-color: #fff;
            border: 1px solid #2B57AB;
            border-radius: 4px 0 0 4px;
        }
    }
}

#search-results {
    width: 100%;

    section {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .collapse {
        display: none;
    }

    section.applied-filters {
        .applied-filter-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 4px;
            margin: 8px 0;

            .filter-wrapper {
                padding: 4px 8px;
                background: #555555;
                border-radius: 4px;
                justify-content: flex-start;
                align-items: center;
                display: flex;

                .filter {
                    .top-row {
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        line-height: 12px;

                        .filter-name-label {
                            font-size: small;
                        }

                        .flex-spacer {
                            flex-grow: 1;
                        }

                        a {
                            vertical-align: text-top;
                            padding-left: 10px;
                            font-weight: bold;
                            font-size: small;
                            /*padding: 0 5px;*/
                            color: white;
                            text-decoration: none;
                            background: none;
                        }
                    }

                    .bottom-row {
                        .filter-name {
                            color: white;
                        }
                    }
                }
            }

        }
    }

    section.facet {
        margin: 8px 0;

        .inactive {
            color: grey;
        }
    }

    .grid-row {
        display: grid;
        grid-template-columns: 15px auto;

        .facet-toggle {
            grid-column: 1 / 2;

            a {
                align-items: center;
                text-decoration: none;
            }
        }

        .facet-link {
            div {
                grid-column: 2 / 3;
            }
        }
    }

    div.filter-heading {
        font-weight: bold;
    }

    div.results-grid-container {
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;

        div.filter-container {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        @media only screen and (max-width: 600px) {
            div.filter-container {
                grid-column: 1 / 21;
            }

            div.results-container {
                grid-column: 1 /21;
            }
        }

        @media only screen and (min-width: 600px) {
            div.filter-container {
                grid-column: 1 / 6;
            }

            div.results-container {
                grid-column: 7 /21;
            }
        }
    }

}

.result-item {
    padding: 4px 0;

    .row {
        margin: 12px 0;

        .four-panel {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;

            .left-outer {
                text-align: start;
            }

            .left-inner {
                text-align: start;
            }

            .right-inner {
                text-align: start;
            }

            .right-outer {
                text-align: start;
            }
        }

        .three-panel {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;

            .left {
                text-align: start;
            }

            .centre {
                text-align: start;
            }

            .right {
                text-align: start;
            }
        }

        .two-panel {
            display: grid;
            grid-template-columns: 50% 50%;

            .left {
                text-align: start;
            }

            .right {
                text-align: start;
            }
        }
    }

    .item-details-label {
        color: grey;
        font-size: small;
        line-height: 10px;
    }
}

.search-control-panel {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*gap: 24px;*/

    .search-control-panel-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: space-between;

        .search-control-panel-item {

            .search-control-panel-label {
                align-content: center;
            }

            span.search-control-panel-current {
                align-content: center;
                background: #2B57AB;
                color: white;
                padding: 0.2rem;
            }

            span.search-control-panel-link {
                padding: 0.2rem;

                &:hover {
                    text-decoration-thickness: 3px;
                    background: #e3e3e3
                }
            }
        }

        .flex-spacer {
            flex-grow: 1;
        }
    }
}

#pagination {
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 0;
    margin: 10px 0;
    justify-content: center;
    gap: 0;
    font-size: large;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;

    div {
        a {
            padding: 0.7em 1em;

            &:hover {
                text-decoration-thickness: 3px;
                background: #e3e3e3
            }

            &.selected {
                background: #2B57AB;
                color: white;
            }
        }
    }

}

.form-select {
    border-radius: 4px;
    height: 40px;
    background: #FFFFFF;
    border: 1.5px solid #555555;
}