<% if contains_ia && contains_ia[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="contains-impact-assessment">Contains impact assessment</div>
    <%= boolean_yes_no(contains_ia) %>
  </div>
<% end %>