<% if considered %>
  <div class="about-item">
    <div class="content-heading-small" id="considered-by-secondary-legislation-scrutiny-committee">Considered by the Secondary
      Legislation Scrutiny Committee</div>
    <%= format_date(considered) %>
  </div>
<% end %>