<div data-controller="clipboard" class="button-container copy-button-container">
  <div hidden data-clipboard-target="source" data-clipboard-text="<%= content %>"></div>
  <button data-action="clipboard#copy" title="Copy text to clipboard" class="page-button">
    Copy text to clipboard
  </button>
</div>