<% unless author.blank? %>
  <div class="about-item">
    <% unless label.blank? %>
      <div class="content-heading-small" id="corporate-author">
        <%= label %>
      </div>
    <% end %>
    <% author.each do |item| %>
      <%= search_link(item) %><br/>
    <% end %>
  </div>
<% end %>