<% unless object.corrected_answer.blank? && object.correcting_item_link.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="corrected-answer">Corrected answer</div>
    <% unless object.corrected_answer.blank? %>
      <p class="html-content">
        <%= raw(object.corrected_answer[:value]) %>
      </p>
    <% end %>
    <% unless object.correcting_item_link.blank? %>
      <p class="html-content">
        <%= raw(@associated_object_data[object.correcting_item_link]&.correction_text[:value]) %>
      </p>
    <% end %>
  </div>
<% end %>