%p
  %span= "The Early day motion has received "
  %span= amendments.count
  %span= "amendments."

%dl
  - amendments.each_with_index do |amendment, index|
    %dt
      %span>= amendment[:reference][:value]

      %dd.mb-4
        %ins= amendment[:text][:value]