- unless category.blank? && subtype.blank?
  - unless category.blank?
    %span>= search_link(category, singular: true)
    - unless subtype.blank?
      %span= ", "
  - unless subtype.blank?
    %span>= search_link(subtype, singular: true)