<% if failed_oral && failed_oral[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="failed-oral">Question not reached</div>
    <%= boolean_yes_no(failed_oral) %>
  </div>
<% end %>