<% unless laying_authority.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="laying-authority">Laying authority</div>
    <%= laying_authority[:value] %>
  </div>
<% end %>