<% unless legislative_stage.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="legislative-stage">Legislative stage</div>
    <%= render 'content_type_objects/fragments/list', items: legislative_stage, terminator: "", singular: false %>
  </div>
<% end %>