<% unless procedure.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="procedure">Procedure</div>
    <%= search_link(procedure) %>
    <% unless approval_days.blank? || approval_days[:value]&.to_i.zero? %>
      <br/><%= approval_days[:value] %> days scrutiny period
    <% end %>
  </div>
<% end %>