<% unless paper_type.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="paper-type">Paper type</div>
    <% paper_type.each do |type| %>
      <%= search_link(type) %><br/>
    <% end %>
  </div>
<% end %>