<% unless previous_version.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="previous-version">Previous version</div>
    <%= object_show_link(previous_version.version_title, previous_version.object_uri) %>
    <% unless previous_version.date_of_order.blank? %>
      <br/><%= format_date(previous_version.date_of_order) %>
    <% end %>
    <% unless previous_version.reference.blank? || previous_version.reference.pluck(:value) == ["."] %>
      <br/><%= previous_version.reference.pluck(:value).join(' ') %>
    <% end %>
  </div>
<% end %>