<div class="about-item">
  <div class="callout">
    When a parliamentary session comes to an end Parliament is prorogued until the next session begins. Prorogation
    is the formal end to the parliamentary year. A 'prorogation answer' to a written question may be issued by a
    Minister if it has not been possible to provide a substantive answer in the time available before Prorogation.
  </div>
</div>
