<% if object.is_published && object.is_published[:value] %>
  <% unless object.section.blank? && object.published_by.blank? %>
    <div class="about-item">
      <div class="content-heading-small" id="published-by">Published by</div>
      <% unless object.section.blank? %>
        <% object.sections.each do |section| %>
          <%= search_link(section) %><br/>
        <% end %>
      <% end %>
      <% unless object.published_by.blank? %>
        <% unless object.sections && object.sections.pluck(:value).include?(object.published_by.dig(:value)) %>
          <%= search_link(object.published_by) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>