<% if object.is_published && object.is_published[:value] %>
  <% unless object.section.blank? && object.published_by.blank? %>
    <div class="about-item">
      <div class="content-heading-small" id="published-by">Published by</div>
      <% unless object.section.blank? %>
        <%= search_link(object.section) %>
      <% end %>
      <% unless object.published_by.blank? %>
        <% unless object.section && object.section.dig(:value) == object.published_by.dig(:value) %>
          <%= search_link(object.published_by) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>