<% if registered_interest && registered_interest[:value] %>
  <div class="about-item">
    <div class="content-heading-small" id="registered-interest-declared">Registered interest declared</div>
    <%= boolean_yes_no(registered_interest) %>
  </div>
<% end %>