<% unless related_item_ids.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="related-items">Related items</div>
    <div class="flex-list">
      <% related_item_ids[..3].each do |related_item_id| %>
        <% unless @associated_object_data[related_item_id].blank? %>
          <%= render 'content_type_objects/fragments/related_item', related_item: @associated_object_data[related_item_id] %>
        <% end %>
      <% end %>
    </div>
    <% if related_item_ids.size > 4 %>
      <br/>
      <details>
        <summary>
          Show all related items (<%= related_item_ids.size %>)
        </summary>
        <br/>
        <div class="flex-list">
          <% related_item_ids[4..].each do |related_item_id| %>
            <% unless @associated_object_data[related_item_id].blank? %>
              <%= render 'content_type_objects/fragments/related_item', related_item: @associated_object_data[related_item_id] %>
            <% end %>
          <% end %>
        </div>
      </details>
    <% end %>
  </div>
<% end %>