<% unless responsible_departments.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="responsible_departments">Responsible departments</div>
    <% responsible_departments.each do |department| %>
      <%= search_link(department) %><br/>
    <% end %>
  </div>
<% end %>