<% unless from.blank? && to.blank? %>
  <div class="about-item">
    <div class="content-heading-small" id="subsidiarity_protocol_period">Subsidiarity protocol period</div>
    <div>
      <% if to.blank? %>
        From <%= format_date(from) %>
      <% elsif from.blank? %>
        To <%= format_date(to) %>
      <% else %>
        From <%= format_date(from) %> to <%= format_date(to) %>
      <% end %>
    </div>
  </div>
<% end %>