<section class="content-section">
  <h3 class="content-heading">Example Objects</h3>
  <ul>
    <%= content_tag('li', link_to('An EDM', object_show_url(object: 'http://data.parliament.uk/edms/22468'))) %>
    <%= content_tag('li', link_to('A research briefing', object_show_url(:object => 'http://data.parliament.uk/resources/342599'))) %>
    <%= content_tag('li', link_to('A written question', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156'))) %>
    <%= content_tag('li', link_to('A written statement', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016'))) %>
  </ul>
</section>