<header>
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="nav-logo">
          <%= link_to(image_tag('Portcullis.svg'), "https://parliament.uk/") %>
        </div>
      </div>
      <div class="column">
        <a href="#" class="open-nav">Menu</a>
        <div class="primary-nav">
          <div class="title">Menu</div>
          <ul>
            <li><a href="https://parliament.uk/" title="Parliamentary UK">Home</a></li>
            <li><a href="#" title="Parliamentary Search">Parliamentary Search</a></li>
            <li><a href="https://developer.parliament.uk/" title="API directory">API directory</a></li>
            <li><a href="#" title="Support">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="product-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-no-spacing">
          <div class="title">Parliamentary Search</div>
        </div>
      </div>
    </div>
  </div>
</header>