<head>
  <title>Parliamentary search - <%= format_object_title(@page_title, @ses_data) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta name="format-detection" content="telephone=no">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_importmap_tags %>
</head>