<head>
  <title>Parliamentary search - <%= formatted_page_title(@page_title) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_importmap_tags %>
</head>