<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= render :partial => 'library_design/head/head' %>
	</head>
	<body class="brand-bicameral">
		<%= render 'layouts/header/header' %>
		<main class="container block block-page" id="main-content">
			<div class="inner-content container">
				<div class="reading-width">
					<%= yield %>
				</div>
			</div>
		</main>
		<%= render 'library_design/footer' %>
	</body>
</html>